In [2]:
import pandas as pd

In [45]:
green_taxi_df = pd.read_csv("green_tripdata_2019-09.csv.gz", nrows=100)
green_taxi_df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [46]:
zones_df = pd.read_csv("taxi+_zone_lookup.csv", nrows=100)
zones_df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [52]:
green_taxi_df.lpep_dropoff_datetime = pd.to_datetime(green_taxi_df.lpep_dropoff_datetime)
green_taxi_df.lpep_pickup_datetime = pd.to_datetime(green_taxi_df.lpep_pickup_datetime)

In [57]:
print(pd.io.sql.get_schema(green_taxi_df, name= "green_taxi_data"))
print(pd.io.sql.get_schema(zones_df, name= "green_taxi_zones"))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)
CREATE TABLE "green_taxi_zones" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [54]:
from sqlalchemy import create_engine

In [55]:
engine = create_engine("postgresql://root:root@localhost:5432/green_taxi")

In [50]:
engine.connect()

In [56]:
#adding zones_df to postgres database
zones_df = pd.read_csv("taxi+_zone_lookup.csv")
%time zones_df.to_sql(name="green_taxi_zones", con=engine, if_exists="replace")

CPU times: total: 15.6 ms
Wall time: 276 ms

265

In [59]:
green_taxi_iter = pd.read_csv("green_tripdata_2019-09.csv.gz", iterator=True, chunksize=100000)

In [60]:
df = next(green_taxi_iter)

In [61]:
df.head(n=0).to_sql(name="green_taxi_data", con=engine, if_exists="replace")

0

In [63]:
%time df.to_sql(name="green_taxi_data", con=engine, if_exists="append")

CPU times: total: 3.14 s
Wall time: 13.9 s

1000

In [64]:
from time import time

In [65]:
for df in green_taxi_iter:
    t_start = time()
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.to_sql(name="green_taxi_data", con=engine, if_exists="append")
    t_end = time()
    print('inserted another chunk......., took %.3f seconds' %(t_end - t_start))

inserted another chunk......., took 12.124 seconds
inserted another chunk......., took 12.449 seconds

C:\Users\neil\AppData\Local\Temp\ipykernel_17624\1307909529.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in green_taxi_iter:

inserted another chunk......., took 11.696 seconds
inserted another chunk......., took 5.218 seconds